name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'Docs/**'
      - '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'Docs/**'
      - '**.md'

env:
  EMSCRIPTEN_VERSION: 3.1.64
  UBUNTU_CLANG_VERSION: clang++-18
  UBUNTU_GCC_VERSION: g++-14

jobs:
  macos:
    runs-on: macos-latest
    name: macOS
    env:
        VULKAN_SDK_INSTALL: ${{github.workspace}}/vulkan_sdk
    strategy:
        fail-fast: false
        matrix:
            build_type: [Distribution]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v6
    - name: Install Vulkan
      run: ${{github.workspace}}/Build/macos_install_vulkan_sdk.sh ${VULKAN_SDK_INSTALL}
    - name: Configure CMake
      run: |
        source ${VULKAN_SDK_INSTALL}/setup-env.sh
        cmake -B ${{github.workspace}}/Build/MacOS_${{matrix.build_type}} -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=clang++ Build
    - name: Build
      run: cmake --build ${{github.workspace}}/Build/MacOS_${{matrix.build_type}} -j $(sysctl -n hw.ncpu)
    - name: Test
      working-directory: ${{github.workspace}}/Build/MacOS_${{matrix.build_type}}
      run: |
        source ${VULKAN_SDK_INSTALL}/setup-env.sh
        ctest --output-on-failure --verbose
